h1 {


    font-size: 50px;

}

body {

    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.flex-secton {

    display: flex;
    margin-bottom: 100px;

}

.half-width {

    width: 50%;
    padding-left: 20px;
}

.half-width-exp-full {
    width: 40%;
    margin-left: 5%;
    margin-left: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
    border-left: 5px solid orange;
}

.half-width-exp {
    width: 40%;
    margin-left: 5%;
    margin-left: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
    border-left: 5px solid blue;
}

.half-width img {
    width: 80%;

}

.cl-or {

    color: orange;
}

.btn {

    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.top-ban {

    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.mid-ban {

    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

p {

    text-align: justify;
}

.lastbefore-sec {

    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

h2 {

    font-size: 40px;
}

footer p {

    text-align: center;
}